
body {
    font-family: Arial, Helvetica, sans-serif;
}

.message {
    padding: 5px;
    text-align: center;
}

.message-error {
    color: red;
    border: 1px solid red;
}

.message-loading {
    color: blue;
    border: 1px solid blue;
}

.message-done {
    color: green;
    border: 1px solid green;
}
